## String Data Type

In [1]:
#                   1
#         012345678901234
parrot = "Norwegian Blue"
print(parrot)
print(parrot[3])

Norwegian Blue
w

#### Mini Challenge
Add some code to the program, so that it prints out "we win".
Each character should appear on a separate line.
The program should get the characters from the parrot string, using indexing.
The w is already printed out, you just need to print the remaining 5 characters.
With the text that is already being printed, the output from the program should be:

#### Norwegian Blue
#### w
#### e
#### 
#### w
#### i
#### n

### Negative Indexing in Strings

In [ ]:
#                   1
#         012345678901234

#             1
#         43210987654321(-1)
parrot = "Norwegian Blue"
print(parrot[-1])
print(parrot[-14])

e
N

In [3]:
print(parrot[-11])
print(parrot[-10])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])

w
e

w
i
n

In [5]:
print(parrot[3 - 14])
print(parrot[4 - 14])
print(parrot[9 - 14])
print(parrot[3 - 14])
print(parrot[6 - 14])
print(parrot[8 - 14])

w
e

w
i
n

### Slicing

In [ ]:
#                   1
#         012345678901234
parrot = "Norwegian Blue"

print(parrot[0:6])  # Norweg (from 0 up to but not including 6)
print(parrot[3:5])  # we (from 3 up to but not including 5)
print(parrot[0:9])  # Norwegian (from 0 up to but not including 9)
print(parrot[:9])  # Norwegian (from 0 up to but not including 9 - same as above)
print(parrot[10:14])  # Blue (from 10 up to but not including 14)
print(parrot[10:])  # Blue (from 10 up to the end)

Norweg
we
Norwegian
Norwegian
Blue
Blue

In [13]:
print(parrot[:6])
print(parrot[6:])
print()

print(parrot[:6] + parrot[6:])

Norweg
ian Blue

Norwegian Blue

In [14]:
print(parrot[:])

Norwegian Blue

### Slicing with Negative Numbers

In [15]:
#             1
#         43210987654321(-1)
parrot = "Norwegian Blue"

print(parrot[0:6])  # Norweg (from 0 up to but not including 6)
print(parrot[-14:-8])  # Norweg (from -14 up to but not including -8)
print()
print(parrot[-4:-2])  # Bl (from -4 up to but not including -2)
print(parrot[-4:12])  # Bl (from -4 up to but not including 12)

Norweg
Norweg

Bl
Bl

### Using a Step in a Slice

In [16]:
#                   1
#         012345678901234
parrot = "Norwegian Blue"

print(parrot[0:6:2])  # Nre (from 0 up to but not including 6 in steps of 2)
print(parrot[0:6:3])  # Nw (from 0 up to but not including 6 in steps of 3)

Nre
Nw

In [ ]:
number = "9,223,372,036,854,775,807"
print(number[1::4])  #(from 1 to the end in steps of 4)

,,, ,,

In [18]:
number = "9,223;372:036 854,775;807"
seperators = number[1::4]
print(seperators)

,;: ,;

In [19]:
values = "".join(char if char not in seperators else " " for char in number).split()
print([int(val) for val in values])

[9, 223, 372, 36, 854, 775, 807]

### Slicing Backwards

In [ ]:
letters = "abcdefghijklmnopqrstuvwxyz"
backwards = letters[25:0:-1]     # upto but not including 0
print(backwards)

zyxwvutsrqponmlkjihgfedcb

In [21]:
backwards = letters[25::-1]
print(backwards)

zyxwvutsrqponmlkjihgfedcba

In [ ]:
backwards = letters[::-1]      # python idiom is [::-1] to reverse a string
print(backwards)

zyxwvutsrqponmlkjihgfedcba

### Challenge
Using the "letters" string from the above, add some code to create the following slices.
1. Create a slice that produces the characters "qpo".
2. Slice the string to produce "edcba"
3. Slice the string to produce the last 8 characters, in reverse order.

In [28]:
letters = "abcdefghijklmnopqrstuvwxyz"
backwards = letters[16:13:-1]
print(backwards)

qpo

In [43]:
backwards = letters[-22::-1]
print(backwards)

edcba

In [50]:
backwards = letters[:-9:-1]
print(backwards)

zyxwvuts

In [ ]:
# another way to reverse a string
print(letters[16:13:-1])
print(letters[4::-1])
print(letters[:-9:-1])

qpo
edcba
zyxwvuts

### String Operators
Python 3 has 5 types of Sequence
1. The string type
2. list
3. tuple
4. range
5. bytes and bytearray

A sequence is an ordered set of items.

### String Replacement Fields

In [52]:
age = 24
print("My age is " + str(age) + " years")

My age is 24 years

In [ ]:
print("My age is {0} years".format(age))    # replacement field {0} is replaced by the value of age variable

My age is 24 years

In [54]:
print("There are {0} days in {1}, {2}, {3}, {4}, {5}, {6}, {7}".format(31, "Jan", "Mar", "May", "Jul", "Aug", "Oct", "Dec"))

There are 31 days in Jan, Mar, May, Jul, Aug, Oct, Dec

In [55]:
print("Jan: {2}, Feb: {0}, Mar: {2}, Apr: {1}, May: {2}, Jun: {1}, Jul: {2}, Aug: {2}, Sep: {1}, Oct: {2}, Nov: {1}, Dec: {2}".format(28, 30, 31))

Jan: 31, Feb: 28, Mar: 31, Apr: 30, May: 31, Jun: 30, Jul: 31, Aug: 31, Sep: 30, Oct: 31, Nov: 30, Dec: 31

### String Formating

In [1]:
for i in range(1, 12):
    print("No. {0} squared is {1} and cubed is {2}".format(i, i ** 2, i ** 3))

No. 1 squared is 1 and cubed is 1
No. 2 squared is 4 and cubed is 8
No. 3 squared is 9 and cubed is 27
No. 4 squared is 16 and cubed is 64
No. 5 squared is 25 and cubed is 125
No. 6 squared is 36 and cubed is 216
No. 7 squared is 49 and cubed is 343
No. 8 squared is 64 and cubed is 512
No. 9 squared is 81 and cubed is 729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331

In [2]:
for i in range(1, 12):
    print("No. {0:2} squared is {1:3} and cubed is {2:4}".format(i, i ** 2, i ** 3))

No.  1 squared is   1 and cubed is    1
No.  2 squared is   4 and cubed is    8
No.  3 squared is   9 and cubed is   27
No.  4 squared is  16 and cubed is   64
No.  5 squared is  25 and cubed is  125
No.  6 squared is  36 and cubed is  216
No.  7 squared is  49 and cubed is  343
No.  8 squared is  64 and cubed is  512
No.  9 squared is  81 and cubed is  729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331

In [3]:
for i in range(1, 12):
    print("No. {0:2} squared is {1:<3} and cubed is {2:<4}".format(i, i ** 2, i ** 3))

No.  1 squared is 1   and cubed is 1
No.  2 squared is 4   and cubed is 8
No.  3 squared is 9   and cubed is 27
No.  4 squared is 16  and cubed is 64
No.  5 squared is 25  and cubed is 125
No.  6 squared is 36  and cubed is 216
No.  7 squared is 49  and cubed is 343
No.  8 squared is 64  and cubed is 512
No.  9 squared is 81  and cubed is 729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331

In [4]:
for i in range(1, 12):
    print("No. {0:2} squared is {1:<3} and cubed is {2:^4}".format(i, i ** 2, i ** 3))

No.  1 squared is 1   and cubed is  1
No.  2 squared is 4   and cubed is  8
No.  3 squared is 9   and cubed is  27
No.  4 squared is 16  and cubed is  64
No.  5 squared is 25  and cubed is 125
No.  6 squared is 36  and cubed is 216
No.  7 squared is 49  and cubed is 343
No.  8 squared is 64  and cubed is 512
No.  9 squared is 81  and cubed is 729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331

In [6]:
print("Pi is approximately {0:12}".format(22 / 7))  # default is 15 characters wide
print("Pi is approximately {0:12f}".format(22 / 7))  # default is 15 characters wide with 6 decimal places
print("Pi is approximately {0:12.50f}".format(22 / 7))  # default is 15 characters wide with 50 decimal places
print("Pi is approximately {0:52.50f}".format(22 / 7))  # default is 15 characters wide with 50 decimal places
print("Pi is approximately {0:62.50f}".format(22 / 7))  # default is 15 characters wide with 50 decimal places
print("Pi is approximately {0:72.50f}".format(22 / 7))  # default is 15 characters wide with 50 decimal places

Pi is approximately 3.142857142857143
Pi is approximately     3.142857
Pi is approximately 3.14285714285714279370154144999105483293533325195312
Pi is approximately 3.14285714285714279370154144999105483293533325195312
Pi is approximately           3.14285714285714279370154144999105483293533325195312
Pi is approximately                     3.14285714285714279370154144999105483293533325195312

### f-strings

In [ ]:
greeting = "Hello"
name =input("Please enter your name ")
print(greeting + name)

# if we want a space after the name, we can add that too
print(greeting + ' ' + name + '!')

age = 24
print(age)

print(type(greeting))
print(type(age))

Hellosatyam
Hello satyam!
24
<class 'str'>
<class 'int'>

In [2]:
print(name + ' is ' + (age) + ' years old')

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(name + f' is {age} years old')  # f-string

satyam is 24 years old

In [5]:
print(f'Pi is approximately {22 / 7:12.50f}')

Pi is approximately 3.14285714285714279370154144999105483293533325195312

In [6]:
pi = 22 / 7
print(f'Pi is approximately {pi:12.50f}')

Pi is approximately 3.14285714285714279370154144999105483293533325195312